<div>
  <h5>Livro</h5>

  <p>{{ livro.title | uppercase | lowercase | camelCase }}</p>
  <p>{{ livro.rating | number:'3.1-3' }}</p>
  <p>{{ livro.pages | number }}</p>
  <p>{{ livro.price | currency:'BRL': true }}</p>
  <p>{{ livro.postingData | date }}</p>
  <img [src]="livro.url" alt="">
  <br><br>
  <pre>{{ livro | json }}</pre>

  <br>

  <br>
  <input type="text" #novoValor>
  <button (click)="addCurso(novoValor.value)">Adicionar curso</button>
  <br>
  <input type="text" [(ngModel)]="filtro">

  <ul>
    <h5>Filter Pipe</h5>
    <li *ngFor="let curso of cursos | filtroArray:filtro">{{ curso }}</li>
  </ul>

  <br>

  <p>{{ valorAsync | async }}</p>
  <p>{{ valorAsync2 | async }}</p>
  <p>{{ valorAsync3 | async }}</p>
</div>

